  <ul id="menu">
                <a href="_index"><li class="icon fa fa-bolt" id="uno"></li></a>
                <a href="teleop"><li class="icon fa fa-keyboard-o" id="dos"></li></a>
                <a href="checkpoint"><li class="icon fa fa-rocket" id="tres"></li></a>
                <a href="_reading"><li class="icon fa fa-dribbble" id="cuatro"></li></a>
                <a href="#t5"><li class="icon fa fa-plus-circle" id="cinco"></li></a>
</ul>
