<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="designer" content="Alberto Hartzet">
    <meta name="programer" content="Alberto Hartzet">
    <meta name="author" content="Alberto Hartzet">
    <meta name="description" content="One page navigation with pure CSS">
    <meta property="og:url" content="https://codepen.io/hrtzt/details/NPZKRN">
    <meta property="og:image" content="https://pbs.twimg.com/media/CCNJN_XUMAAJSzU.jpg:large">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <title></title>
  </head>
  <body>
    <div class="ct" id="t1">
      <div class="ct" id="t2">
        <div class="ct" id="t3">
          <div class="ct" id="t4">
             <div class="ct" id="t5">
              <ul id="menu">
                <a href="#t"><li class="icon fa fa-bolt" id="uno"></li></a>
                <a href="#t2"><li class="icon fa fa-keyboard-o" id="dos"></li></a>
                <a href="#t3"><li class="icon fa fa-rocket" id="tres"></li></a>
                <a href="#t4"><li class="icon fa fa-dribbble" id="cuatro"></li></a>
                <a href="#t5"><li class="icon fa fa-plus-circle" id="cinco"></li></a>
              </ul>
              <div class="page" id="p1">
                 <section class="icon fa fa-bolt"><span class="title">Bolt</span><span class="hint">Like this pen to see the magic!...<br> Just kidding, it won't happen anything but I'll be really happy If you do so.</span></section>
              </div>
              <div class="page" id="p2">
                <section class="icon fa fa-keyboard-o"><div class="ct" id="t2">
                 <div class="navbar navbar-inverse navbar-fixed-top">
                       <div class="container"></div>
                       <a class="navbar-brand" href="#">Robot Web Tools</a>
                     </div>

                     <div id="mjpeg"></div>

                     <div class="container">
                       <div id="messages">
                         <div class="alert">

                           Waiting to connect to rosbridge.
                         </div>
                       </div>
                     </div>

                     <div class="base">

                       <div>
                         <button class="control-Btn" id="n" value=87><span>L+</span></button>
                         <button class="control-Btn" id="m" value=81><span>L/A +</span></button>
                         <button class="control-Btn"  id="e" value=69><span>A+</span></button>
                       </div>

                       <div class="value">
                         <div id="linear-published" style="color: green"></div>
                         <div id="linear-current" style="color: red"></div>
                       </div>

                       <div class="value">
                         <div id="angular-published" style="color: green"></div>
                         <div id="angular-current" style="color: red"></div>
                       </div>

                       <div>
                         <button class="control-Btn" id="x" value=88><span>L-</span></button>
                         <button class="control-Btn" id="s" value=90><span>L/A -</span></button>
                         <button class="control-Btn" id="c" value=67><span>A-</span></button>
                       </div>

                     </div>
                     <div class="basee">
                         <!-- Control Buttons -->
                         <!-- Row 1 -->
                         <div>
                           <button class="control-Btn" id="u" value=85 style="font-size: 30px"><i class="fas fa-reply"></i></button>
                           <button class="control-Btn" id="i" value=73><i class="fas fa-angle-up"></i></button>
                           <button class="control-Btn" id="o" value=79 style="font-size: 30px"><i class="fas fa-share"></i></button>
                         </div>
                         <!-- Row 2 -->
                         <div>
                           <button class="control-Btn" id="j" value=74> <span><i class="fas fa-angle-left"></i></span></button>
                           <button class="control-Btn" id="k" value=75 style="color: red"><i class="fas fa-circle"></i></button>
                           <button class="control-Btn" id="l" value=76><i class="fas fa-angle-right"></i></button>
                         </div>
                         <!-- Row -->
                         <div>
                           <button class="control-Btn" id="q" value=77><i class="fas fa-reply"></i></button>
                           <button class="control-Btn"  id="z" value=188><i class="fas fa-angle-down"></i></button>
                           <button class="control-Btn" id="w" value=190><i class="fas fa-share"></i></button>
                         </div>
                         <div></div>
                     </div>
                       <!-- <form id="custom_topic_form"></form>
                         Subscribe Local Audio: <input type="checkbox" name="subscribe_local_audio"><br>
                         Publish To Local Audio: <input type="checkbox" name="publish_local_audio"><br>
                         <input type="submit" value="Go">
                     </form> -->



                       <!-- <div class="base"> -->
                       <div class="row">
                           <div id="twod-map" ></div>
                       </div>

                </div>
              </section>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
