<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>ROSWEBUI</title>

          
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript">

        $(document).ready(function(){
        // var currCord = getCoord();

        $(".mainContainer").imagePointer({
            // pointerArray    : currCord,
            pointerCallBack : function(pointerInfo){
                $('#outputElm').html(JSON.stringify(pointerInfo));
                // // currCord = getCoord();
                // currCord.push(pointerInfo);
                // document.cookie="coord=" + JSON.stringify(currCord);
            }
        });

    });
    // function getCoord(){
    //     var currCord = getCookie("coord");
    //     if(currCord === ""){
    //         currCord = [];
    //     }else{
    //         currCord = JSON.parse(currCord);
    //     }
    //     return currCord;
    // }
    // function getCookie(cname) {
    //     var name = cname + "=";
    //     var ca = document.cookie.split(';');
    //     for(var i=0; i<ca.length; i++) {
    //         var c = ca[i];
    //         while (c.charAt(0)==' ') c = c.substring(1);
    //         if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
    //     }
    //     return "";
    // }


</script>

  </head>
  <body onload="init()">
    <div class="menus">


              <ul id="menu">
                <a href="#t1"><li class="icon fa fa-bolt" id="uno"></li></a>
                <a href="teleop"><li class="icon fa fa-keyboard-o" id="dos"></li></a>
                <a href="checkpoint"><li class="icon fa fa-rocket" id="tres"></li></a>
                <a href="#t4"><li class="icon fa fa-dribbble" id="cuatro"></li></a>
                <a href="#t5"><li class="icon fa fa-plus-circle" id="cinco"></li></a>
              </ul>
              </div>
              <div class="page" id="p1">


                      <div id="messages">
                        <div class="alert">
                          Waiting to connect to rosbridge.
                        </div>
                      </div>
                    </div>





  </body>
</html>
